html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
img {
  border-style: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
main {
  margin: 0 auto;
  width: 980px;
  position: relative;
  display: block;
}
ul {
  padding: 0px !important;
}
/*Início do top e das redes sociais*/
.menu-principal {
  background-color: #222222;
  height: 60px;
  width: 100%;
  position: relative;
}
.logo {
  float: left;
  width: 70%;
  padding: 0px;
}
.redes-sociais ul li {
  display: inline-block;
  list-style: none;
  margin-left: 30px;
}
.redes-sociais {
  width: 25%;
  float: right;
  list-style: none;
  margin-left: 10px;
}
.li1 {
  margin-top: 5px;
}
/*Fim das redes sociais e do topo*/

/*Início do Menu*/
.col-100 {
  width: 100%;
  float: left;
  position: relative;
}
.menuinfo {
  margin: 0 auto;
}
.menu {
  height: 30px;
  width: 100%;
  margin: 0 auto;
  width: 980px;
  position: relative;
}
.menu ul li {
  list-style: none;
  display: inline-block;
  color: #222322;
  height: 32px;
}
.menu ul li:hover {
  border-bottom: 2px #0072ce solid;
  transition: all 0.2s;
  cursor: pointer;
}
.menu ul li a:hover {
  color: #0072ce;
}
.menu ul li a {
  color: #222322;
  font-size: 14px;
  text-decoration: none;
  margin: 7px;
  text-transform: uppercase;
}
.menu-urls {
  border-bottom: 1px #909090 solid;
  color: #222322;
  height: 50px;
  margin-top: -4px;
}
/*Fim do menu*/
.quadro {
  width: 98, 5vw;
  height: 4vh;
  border: 1px solid rgba(50, 100, 50, 05);
  background: #ddddff;
  display: flex;
  justify-content: center;
  alingn-itens: center;
  flex-direction: row;
}
.coluna {
  max-width: 100%;
  width: 10%;
  float: left;
  border: 1px solid rgba(100, 50, 50, 05);
}
